main.fixed {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@keyframes scaleCircle1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes scaleCircle2 {
  100% {
    transform: scale(0.4) translateY(-16px);
  }
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(255, 251, 245, 0.6);
  z-index: 5;
}

#intro .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg_intro.gif") no-repeat center/cover;
  opacity: 1;
}

#intro .img-box:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

#intro .text-box {
  width: 100%;
  text-align: left;
  padding: 0.5rem 2.5rem;
  margin-top: -10rem;
}

#intro .text-box h1,
#intro .text-box h2 {
  position: relative;
  color: var(--bs-dark);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  letter-spacing: 0.05rem;
  margin-bottom: 0;
}

#intro .text-box h1 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#intro .text-box h2 {
  font-size: 1rem;
  line-height: 1.8;
}

#intro .touch-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro .touch-box .animate-box {
  width: 48px;
  height: 42px;
  position: relative;
}

#intro .touch-box .animate-box i {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/ic_touch.png") no-repeat center/28px auto;
  z-index: 1;
}

#intro .touch-box .animate-box:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bs-primary-opacity);
  border-radius: 100%;
  animation-name: scaleCircle1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 0;
}

#intro .touch-box .animate-box:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bs-primary-opacity);
  border-radius: 100%;
  transform: scale(0.28) translateY(-16px);
  animation-name: scaleCircle2;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: 0;
}

#intro audio {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

#visual {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#visual .img-box {
  width: 100%;
  height: 100%;
  background: url("../images/visual2.jpg") no-repeat 51% -10px/cover;
  filter: blur(10px);
  transform: scale(1.1);
}

#bottom {
  position: relative;
  z-index: 1;
  margin-top: calc(100vh - 4rem);
  border-radius: 40px 40px 0 0;
}

#bottom .inner {
  border-radius: 3rem 3rem 0 0;
  padding: 1rem 0;
  background: #fffbf5 url("../images/bg_bottom.jpg") repeat;
}

#bottom article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem 1.5rem;
  position: relative;
}

#bottom article .title-area {
  margin-bottom: 2rem;
}

#bottom article .title-area h6 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
}

#bottom article .title-area p {
  margin-top: 0.3rem;
}

#bottom article:after {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background: var(--bs-gray);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: calc(50%-5px);
}

#bottom article.no-bar:after {
  display: none;
}

#bottom article.poem img {
  max-width: 90px;
}

#bottom article.greeting p {
  width: 100%;
  font-weight: 700;
}

#bottom article.greeting .parents {
  margin-top: 3rem;
  width: 100%;
  padding: 2rem 0;
  border-top: 1px solid var(--bs-border);
  border-bottom: 1px solid var(--bs-border);
}

#bottom article.greeting .parents > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom article.greeting .parents > div strong,
#bottom article.greeting .parents > div span {
  display: block;
  text-align: center;
}

#bottom article.greeting .parents > div strong {
  font-weight: 600;
  padding: 0 0.75rem;
}

#bottom article.greeting .parents > div .circle-box {
  display: flex;
  align-items: center;
}

#bottom article.greeting .parents > div .circle-box strong {
  position: relative;
}

#bottom article.greeting .parents > div .circle-box strong:not(:first-of-type):before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background: var(--bs-dark);
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 1px);
  left: -1px;
}

#bottom article.album {
  padding: 0;
  height: 100vh;
}

#bottom article.album .swiper {
  width: 100vw;
}

#bottom article.album .swiper .swiper-wrapper {
  height: 80vh;
}

#bottom article.album .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffbf5 url("../images/bg_bottom.jpg") repeat;
}

#bottom article.album .swiper .swiper-wrapper .swiper-slide img {
  max-width: 100%;
  object-fit: cover;
}

#bottom article.album .swiper .swiper-button-prev,
#bottom article.album .swiper .swiper-button-next {
  top: 0;
  left: inherit;
  margin: 0;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: center;
}

#bottom article.album .swiper .swiper-button-prev:after,
#bottom article.album .swiper .swiper-button-next:after {
  display: none;
}

#bottom article.album .swiper .swiper-button-prev {
  right: calc(36px + 1rem);
  background-image: url("../images/ic_arrow_prev.png");
}

#bottom article.album .swiper .swiper-button-next {
  right: 1rem;
  background-image: url("../images/ic_arrow_next.png");
}

#bottom article.album .swiper .swiper-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 1rem;
  bottom: 20px;
}

#bottom article.album .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  margin: 0 3px;
}

#bottom article.album .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--bs-dark);
}

#bottom article.calendar table {
  width: 80%;
  table-layout: fixed;
}

#bottom article.calendar table th {
  font-weight: 400;
  color: var(--bs-gray);
  height: 60px;
}

#bottom article.calendar table td {
  font-weight: 400;
  height: 50px;
}

#bottom article.calendar table td strong {
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--bs-primary);
  border-radius: 100%;
}

#bottom article.path {
  padding: 5rem 0;
}

#bottom article.path .root_daum_roughmap {
  width: 100%;
}

#bottom article.path .btn-area {
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom article.path .btn-area a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  margin: 0 0.25rem;
  font-weight: 700;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#bottom article.path .btn-area a.btn:focus, #bottom article.path .btn-area a.btn:active {
  border: none;
}

#bottom article.path .btn-area a.btn.btn-naver {
  background: #00c73c;
  color: #fff;
}

#bottom article.path .btn-area a.btn.btn-kakao {
  background: #f9e000;
}

#bottom article.path .detail {
  width: 100%;
  padding: 0 1.5rem;
  text-align: left;
}

#bottom article.path .detail strong {
  display: block;
  margin-top: 1rem;
}

#bottom article.path .detail u {
  text-decoration: none;
  background: var(--bs-primary-opacity);
}

.split > * {
  display: inline-flex;
  min-width: 6px;
}
