body {
  opacity: 0;
}
main {
  &.fixed {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
}
@keyframes scaleCircle {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes scrollCircle {
  0% {
    top: -16px;
    opacity: 0;
  }
  50% {
    top: 24px;
    opacity: 1;
  }
  100% {
    top: 24px;
    opacity: 0;
  }
}
#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // background: rgba(255, 251, 245, 0.6);
  z-index: 5;
  // gif bg
  .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg_intro.gif") no-repeat center / cover;
    // https://firebasestorage.googleapis.com/v0/b/realtime-database-3298b.appspot.com/o/bg_intro.gif?alt=media&token=3220fc68-5ec2-4af2-a1be-2d62b5ba53e2
    opacity: 1;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);
    }
  }
  // text
  .text-box {
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 0.5rem 2.5rem;
    margin-top: -10rem;
    color: var(--bs-dark);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);

    position: relative;
    border: 1px solid transparent;
    .box-1,
    .box-2 {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
    }
    .box-1 {
      transform: translate(-3px, -3px);
    }
    .box-2 {
      transform: translate(3px, 3px);
    }
    h1,
    h2 {
      position: relative;
      letter-spacing: 0.05rem;
      margin-bottom: 0;
    }
    h1 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 1rem;
      line-height: 1.8;
    }
  }
  // touch
  #touch-box {
    small {
      font-size: 0.8rem;
      display: block;
      margin-top: 1rem;
    }
    .animate-box {
      i {
        background: url("../images/ic_touch.png") no-repeat center / 20px auto;
      }
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 100%;
        animation-name: scaleCircle;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        z-index: 0;
      }
    }
  }
  audio {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  // display: none; //여기
}

.animate-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .animate-box {
    width: 48px;
    height: 42px;
    position: relative;
    i {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      z-index: 1;
    }
  }
}

#visual {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  .img-box {
    width: 100%;
    height: 100%;
    background: url("../images/visual.jpg") no-repeat center / cover;
    filter: blur(10px); //여기
    transform: scale(1.2);
  }
  #scroll-box {
    padding: 0 0 12vh;
    .animate-box {
      i {
        background: url("../images/ic_scroll.png") no-repeat center / 20px auto;
      }
      &:before {
        content: "";
        display: block;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 25%;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        animation-name: scrollCircle;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        z-index: 0;
      }
    }
  }
}

#bottom {
  position: relative;
  z-index: 2;
  border-radius: 40px 40px 0 0;
  padding: 0 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(100vh - 4rem);
  margin-top: calc((var(--vh, 1vh) * 100) - 4rem);
  .inner {
    border-radius: 3rem 3rem 0 0;
    padding: 1rem 0;
    background: #fffbf5 url("../images/bg_bottom.jpg") repeat;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 1rem;
    position: relative;
    .title-area {
      margin-bottom: 2rem;
      h6 {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 700;
      }
      p {
        margin-top: 0.3rem;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 1px;
      background: var(--bs-gray);
      opacity: 0.8;
      position: absolute;
      bottom: 0;
      left: calc(50% - 5px);
    }
    &.no-bar {
      &:after {
        display: none;
      }
    }
    // 시
    &.poem {
      img {
        max-width: 80px;
      }
      p {
        width: 100%;
      }
    }
    // 인사말
    &.greeting {
      p {
        // background: rgba(151, 98, 33, 0.06);
        width: 100%;
        font-weight: 700;
      }
      .parents {
        margin-top: 2rem;
        width: 100%;
        max-width: 400px;
        padding: 2rem 0;
        border-top: 1px solid var(--bs-border);
        border-bottom: 1px solid var(--bs-border);
        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          strong,
          span {
            display: block;
            text-align: center;
          }
          strong {
            font-weight: 600;
            padding: 0 0.75rem;
          }
          .circle-box {
            display: flex;
            align-items: center;
            strong {
              position: relative;
              &:not(:first-of-type) {
                &:before {
                  content: "";
                  display: block;
                  width: 2px;
                  height: 2px;
                  background: var(--bs-dark);
                  border-radius: 100%;
                  position: absolute;
                  top: calc(50% - 1px);
                  left: -1px;
                }
              }
            }
          }
        }
      }
    }
    // 앨범
    &.album {
      padding: 0;
      // margin: 0 -1rem;
      .swiper {
        width: 100%;
        .swiper-wrapper {
          height: 600px;
          .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fffbf5 url("../images/bg_bottom.jpg") repeat;
            img {
              max-width: 100%;
              object-fit: cover;
            }
          }
        }
        .swiper-button-box {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 1.5rem 0;
          small {
            position: relative;
            z-index: 2;
            font-size: 0.8rem;
            color: var(--bs-secondary);
          }
          & > div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .swiper-button-prev,
            .swiper-button-next {
              position: inherit;
              top: inherit;
              left: inherit;
              right: inherit;
              margin: 0;
              width: 36px;
              height: 36px;
              background-repeat: no-repeat;
              background-size: 16px auto;
              background-position: center;
              margin-left: 0.5rem;
              &:after {
                display: none;
              }
            }
            .swiper-button-prev {
              background-image: url("../images/ic_arrow_prev.png");
            }
            .swiper-button-next {
              background-image: url("../images/ic_arrow_next.png");
            }
          }
        }
        .swiper-pagination {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: inherit;
          left: inherit;
          bottom: inherit;
          margin: 0;
          padding: 1rem 1.5rem;
          .swiper-pagination-bullet {
            width: 5px;
            height: 5px;
            margin: 0 3px;
            &.swiper-pagination-bullet-active {
              background: var(--bs-dark);
            }
          }
        }
      }
    }
    // 달력
    &.calendar {
      padding: 5rem 3rem;
      .table-box {
        max-width: 400px;
        border: 2px double var(--bs-border);
        border-right: 0;
        border-left: 0;
        padding: 0.75rem 0 1.5rem;
        table {
          width: 100%;
          table-layout: fixed;
          th {
            font-weight: 400;
            color: var(--bs-gray);
            height: 60px;
          }
          td {
            font-weight: 400;
            height: 50px;
            strong {
              width: 32px;
              height: 32px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              background: var(--bs-primary);
              border-radius: 100%;
            }
          }
        }
      }
    }
    // 오시는 길
    &.path {
      padding: 5rem 0;
      .map-box {
        width: 100%;
        height: 320px;
        position: relative;
        .mask {
          width: 100%;
          height: 100%;
          background: transparent;
          position: absolute;
          top: 0;
          left: 0;
          background: transparent;
          z-index: 1;
        }
      }
      .root_daum_roughmap {
        width: 100%;
        .roughmap_maker_label:after {
          display: none;
        }
        .roughmap_lebel_text {
          background: #3396ff;
          color: #fff;
          border-radius: 100px;
          padding: 0.5rem;
          text-decoration: none;
          font-family: var(--bs-font-sans-serif);
          border: 3px solid #d7ebff;
        }
        .wrap_btn_zoom,
        .wrap_controllers {
          display: none;
        }
      }
      .btn-area {
        width: 100%;
        padding: 1.5rem 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a.btn {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 40px;
          width: 100%;
          margin: 0 0.25rem;
          font-weight: 400;
          font-size: 12px;
          background-repeat: no-repeat;
          background-size: auto 24px;
          background-position: right 0.75rem center;
          font-family: var(--bs-font-sans-serif);
          border: 1px solid var(--bs-gray);
          color: var(--bs-dark);
          border-radius: 0;
          margin-bottom: 0.5rem;
          // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          strong,
          span {
            font-family: var(--bs-font-sans-serif);
            display: block;
          }
          strong {
            font-weight: 700;
            padding-right: 0.25rem;
          }
          &:focus,
          &:active {
            // border: none;
          }
          &.btn-naver {
            // background-color: #fff;
            background-image: url("../images/ic_navermap.png");
            // color: #00c73c;
          }
          &.btn-kakao {
            background-image: url("../images/ic_kakaomap.png");
            // background-color: #ffe500;
            // color: #0081c7;
          }
          &.btn-tmap {
            background-image: url("../images/ic_tmap.png");
            // background-color: #ffe500;
            // color: #0081c7;
          }
        }
      }
      .detail {
        width: 100%;
        padding: 0 1.5rem;
        text-align: left;
        strong {
          display: block;
          margin-top: 1rem;
        }
        u {
          text-decoration: none;
          background: var(--bs-primary-opacity);
        }
      }
    }

    // 계좌
    &.account {
      .account-box {
        width: 100%;
        max-width: 400px;
        .accordion-button {
          color: var(--dark);
          &:not(.collapsed) {
            color: var(--dark);
            font-weight: 700;
            background: rgba(0, 0, 0, 0.1);
          }
        }
        .accordion-body {
          dl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            dt {
            }
          }
        }
      }
    }
  }
}
.split {
  > * {
    display: inline-flex;
    min-width: 6px;
  }
}
.btn-copy {
  background: var(--bs-dark);
  color: var(--bs-white);
  padding: 0.4rem 1rem;
  border: 0;
  border-radius: 4px;
  font-family: var(--bs-font-sans-serif);
  font-weight: 300;
  font-size: 12px;
}
.pc-description {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast {
  width: 160px;
  position: fixed;
  top: 1rem;
  left: calc(50% - 80px);
  background: rgba(0, 0, 0, 0.75);
  color: var(--bs-white);
  text-align: center;
  font-family: var(--bs-font-sans-serif);
  z-index: 5;
}
