@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --bs-dark: #333;
  --bs-gray: #afa9a2;
  --bs-secondary: #bbb;
  --bs-border: #ddd;
  --bs-white: #fff;
}
html {
  font-size: 16px;
}
body {
  font-weight: 400;
  color: var(--bs-dark);
}
* {
  font-family: "Noto Serif KR", serif;
  line-height: 2;
}
main {
  width: 100%;
}
